
  <section ng-controller="OverviewController as vm">

  <style type="text/css">
.tooltip{

  display: block !important;
  left: -70px !important;
}

.tooltip-inner{
  background: #FFC107;
  color: rgba(0,0,0, 0.4);
    font-family: 'GothamRounded-Medium';

font-weight:normal;
}

.tooltip.left .tooltip-arrow{

  border-left-color: #FFC107;
}


@media (min-width: 992px){

.modal-lg{

width: 1150px;

}




}





</style>
    <div class="col-md-12" style="border-bottom:;background:#444;padding-bottom:0px;padding-left:0px;padding-right:0;padding-top:0">
      <nav class="navbar navbar-default" style="background:#000;border:none;border-radius:0;margin-bottom:2px;padding-top:7px;padding-bottom:7px;">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="modules/core/client/images/logo.png" width="230" style="margin-top:-7px;" />
            </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="font-size:18px;">
              <li>
                <a href="#" style="color:white;">
                  <i class="fa fa-cog" aria-hidden="true"></i> Account Settings
                
                </a>
              </li>
              <li>
                <a href="#" style="color:white;">
                  <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                
                </a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </div>
    <div class="container">
      <div class="col-md-12 bg" style="padding:0;margin-top:30px;border:none;">
        <div class="col-md-12 bar" style="background:#000;border-bottom:1px solid #333;">
          <div class="col-md-5" style="padding:0;">
            <h4 style="font-size:25px;">
              <i class="fa fa-cog" aria-hidden="true"></i> {{campaign.name}}
            
            </h4>
          </div>
          <!-- col-md-5 -->
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <!--
              <div class="input-group" style="margin-top:15px;"><input type="text" style="color:rgba(255,255,255, 0.7);" class="form-control link-input" placeholder="eg. domainurlhere.com" value="http://testing.softwaredomain.com"><span class="input-group-btn"><button class="btn btn-default link-button" type="button"><i class="fa fa-external-link-square" aria-hidden="true" style="font-size:20px;"></i></button></span></div>-->
            <!-- /input-group -->
            <button class="button-set-redirect" data-toggle="modal" data-target=".selectTheme">
              <i class="fa fa-th-large" aria-hidden="true"></i> Select Theme
            
            </button>
          </div>
          <!-- col-md-5 -->
        </div>
        <!-- col-12 -->
        <div class="col-md-4" style="padding:0;">
          <div class="list-group funnel-list-group" style="margin-top:0;margin-bottom:0;">
            <a href="#" class="list-group-item funnel-steps-nav3" style="pointer-events: ;cursor:default;font-size:18px;">
              <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> FUNNEL STEPS 
              
              <span class="badge" style="background:none;width:45%;margin-top:-12px;">
                <button class="add-thank-you-page" style="">Add Steps</button>
              </span>
            </a>
            <a href="#" class="list-group-item funnel-steps-nav funnel-steps-active">Squeeze Page 
              
              <span class="badge" style="background:none;font-size:24px;color:rgba(255,255,255, 0.5);">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
            <a href="#" class="list-group-item funnel-steps-nav">Thank You Page 
              
              <span class="badge" style="background:none;font-size:24px;color:rgba(255,255,255, 0.5);">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
            <a href="#" class="list-group-item funnel-steps-nav" style="pointer-events: none;cursor:none;padding:0;"></a>
            <!--
      <a href="#" class="list-group-item funnel-steps-nav3" style="border-top:none;"><button class="add-thank-you-page" style="">Add Thank You Page</button></a>
      -->
            <a href="#" class="list-group-item funnel-steps-nav2" style="pointer-events: none;cursor:none;"></a>
          </div>
          <!-- list-group -->
        </div>
        <!-- col-md-4 -->
        <div class="col-md-4" style="padding:30px;">
          <div class="col-md-12">
            <h4 style="color:black;">
              <i class="fa fa-th-large" aria-hidden="true"></i> My Page
            
            </h4>
            <div class="thumbnail" style="background:#f5f5f5;">
              <div class="well" style="background:black;padding:0;">
                <center>
                  <img src="modules/core/client/images/sample.jpg" width="100%" />
                </center>
              </div>
              <div class="caption">
                <a href="pages/{{campaign.squeeze.page}}">
                  <button class="button-access-editor" data-toggle="modal" data-target="#selectTheme">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Access Page Editor
                  
                  </button>
                </a>
              </div>
            </div>
            <!--

        <hr style="margin-top:45px;"><button class="button-delete" style="margin-top:20px;"><i class="fa fa-times" aria-hidden="true"></i> Delete Page</button>

        -->
            <br />
            <div class="well" style="background:transparent;border:none;box-shadow:none;padding-left:10px;padding-right:0px;margin-top:-13px;">
              <h4 style="color:black;">
                <i class="fa fa-trash" aria-hidden="true"></i> Remove My Page
              
              </h4>
              <hr style="margin-top:-10px;">
                <div class="media button-publishing2" data-toggle="modal" data-target=".delete-box">
                  <div class="media-left">
                    <i class="fa fa-times publish-icon" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Delete</h4>
                    <p class="button-publishing-text">Delete page and reselect theme</p>
                  </div>
                </div>
              </div>
              <!-- well -->
            </div>
            <!-- col-md-12 -->
          </div>
          <!-- col-md-4 -->
          <div class="col-md-4" style="border-left:1px solid #eee;margin-top:10px;">
            <div class="well" style="background:transparent;border:none;box-shadow:none;padding-right:40px;">
              <h4 style="color:black;">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Settings
              
              </h4>
              <hr style="margin-top:-10px;">
                <h4 style="color:black;margin-top:-10px;">Campaign Name</h4>
                <div class="input-group" style="margin-top:-10px;">
                  <span class="input-group-addon no-border" id="sizing-addon2">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                  </span>
                  <input ng-model="campaign.name" type="text" class="form-control no-border" placeholder="Enter your funnel name"  aria-describedby="sizing-addon2">
                  </div>
                  <h4 style="color:black; padding-top:15px;">Page Name</h4>
                  <div class="input-group" style="margin-top:-10px;">
                    <span class="input-group-addon no-border" id="sizing-addon2">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </span>
                    <input ng-model="campaign.squeeze.name" type="text" class="form-control no-border" placeholder="eg. Sequeeze Page" value="Sequeeze Page" aria-describedby="sizing-addon2">
                    </div>
                    <h4 style="color:black; padding-top:15px;">Path / URL</h4>
                    <div class="input-group" style="margin-top:-10px;">
                      <span class="input-group-addon no-border" id="sizing-addon2">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                      </span>
                      <input ng-model="campaign.squeeze.path" type="text" class="form-control no-border" placeholder="eg. sample-page" value="sample-page" aria-describedby="sizing-addon2">
                      </div>
                      <br />
                      <button ng-click="update(campaign)" class="button-update-funnel">Update</button>
                    </div>
                    <!-- well -->
                    <br />
                    <div class="well" style="background:transparent;border:none;box-shadow:none;padding-right:40px;margin-top:-30px;">
                      <h4 style="color:black;">
                        <i class="fa fa-wrench" aria-hidden="true"></i> Publishing
                      
                      </h4>
                      <hr style="margin-top:-10px;">
                        <div class="media button-publishing" data-toggle="modal" data-target=".publish-box">
                          <div class="media-left">
                            <i class="fa fa-rocket publish-icon" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Publish Link</h4>
                            <p class="button-publishing-text">Get your page url/link here</p>
                          </div>
                        </div>
                        <br />
                        <div class="media button-publishing" data-toggle="modal" data-target=".embeded-box">
                          <div class="media-left">
                            <i class="fa fa-code publish-icon" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Embeded Code</h4>
                            <p class="button-publishing-text">Add your page inside of an iframe</p>
                          </div>
                        </div>
                        <br />
                        <div class="media button-publishing">
                          <div class="media-left">
                            <i class="fa fa-globe publish-icon" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Download Html</h4>
                            <p class="button-publishing-text">Download .html page to host anywhere</p>
                          </div>
                        </div>
                      </div>
                      <!-- well -->
                    </div>
                    <!-- col-md-4 -->
                  </div>
                  <!-- col-12 -->
                  <div class="col-md-12">
                    <br />
                    <br />
                    <p style="color:#666;font-size:12px;text-align:center;">Copyright All Rights Reserved</p>
                  </div>
                  <div class="col-md-12">
                    <br />
                  </div>
                  <!-- col-12 -->
                </div>
                <!-- container -->
                <!-- Delete Page Start -->
                <div class="modal fade delete-box" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top:70px;">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:30px;">
                      <center>
                        <h4 style="color:black;line-height:25px;">Are you sure want to 
                          
                          <br />delete this?
                        
                        </h4>
                        <button class="button-update-funnel" style="width:70%;margin-top:-10px;">Delete</button>
                      </center>
                    </div>
                  </div>
                </div>
                <!-- Delete Page End -->
                <!-- Publishing Link Start -->
                <div class="modal fade publish-box" tabindex="-1" role="dialog" style="margin-top:70px;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header" style="background:#222528;border-top-left-radius:5px;border-top-right-radius:5px;padding-left:30px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                          <i class="fa fa-rocket" aria-hidden="true"></i> Publish Link
                        
                        </h4>
                      </div>
                      <div class="modal-body" style="padding-left:40px;padding-right:40px;padding-bottom:50px;padding-top:15px;">
                        <h4 style="color:black;">Right Click & Copy Your Page Link Below</h4>
                        <div class="input-group input-group-lg" style="margin-top:-5px;">
                          <span class="input-group-addon" id="sizing-addon1">
                            <i class="fa fa-link" aria-hidden="true"></i>
                          </span>
                          <input type="text" class="form-control" placeholder="" value="http://testing.softwaredomain.com" aria-describedby="sizing-addon1">
                          </div>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                  <!-- Publishing Link End -->
                  <!-- Embeded Code Start -->
                  <div class="modal fade embeded-box" tabindex="-1" role="dialog" style="margin-top:70px;">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header" style="background:#222528;border-top-left-radius:5px;border-top-right-radius:5px;padding-left:30px;">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">
                            <i class="fa fa-code" aria-hidden="true"></i> Embeded Code
                          
                          </h4>
                        </div>
                        <div class="modal-body" style="padding-left:40px;padding-right:40px;padding-bottom:50px;padding-top:15px;">
                          <h4 style="color:black;">Right Click & Copy Your Embeded Code Below</h4>
                          <textarea class="form-control" style="height:80px;">
                            <iframe src="http://testing.softwaredomain.com" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
                          </textarea>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                  <!-- Embeded Code End -->
                  <!-- Setup Pages Flow Start -->
                  <div class="modal fade selectTheme" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="overflow-y:scroll;margin-top:-15px;margin-left:-10px;">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header" style="background:#222528;border-top-left-radius:5px;border-top-right-radius:5px;padding-left:50px;">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel" style="font-size:24px;">
                            <i class="fa fa-th-large" aria-hidden="true"></i> Theme
                          
                          </h4>
                        </div>
                        <div class="modal-header" style="background:#eee;border-top-left-radius:0px;border-top-right-radius:0px;padding-left:50px;padding-top:10px;margin-top:0;">
                          <h4 style="margin-top:5px;margin-bottom:1px;color:#666;">
                            <i style="color:#20b96f;" class="fa fa-check-circle" aria-hidden="true"></i> Select Your Theme / Template Below
                          
                          </h4>
                        </div>
                        <div class="modal-body">
                          <br />
                          <div class="row" style="padding-left:30px;padding-top:10px;padding-right:30px;padding-bottom:40px;">
                            <div class="col-md-12">
                              <h4 class="theme-group-title">Group 1</h4>
                              <hr class="templates-divider">
                              </div>
                              <div class="col-md-12" style="padding-bottom:70px;">
                                <div class="col-md-3">
                                  <h4 class="templates-title">Templates 1</h4>
                                  <img src="modules/core/client/images/sample.jpg" width="100%" />
                                  <br />
                                  <br />
                                  <button class="button-choose-theme">Choose</button>
                                </div>
                                <!-- col-md-3 -->
                                <div class="col-md-3">
                                  <h4 class="templates-title">Templates 2</h4>
                                  <img src="modules/core/client/images/sample.jpg" width="100%" />
                                  <br />
                                  <br />
                                  <button class="button-choose-theme">Choose</button>
                                </div>
                                <!-- col-md-3 -->
                                <div class="col-md-3">
                                  <h4 class="templates-title">Templates 3</h4>
                                  <img src="modules/core/client/images/sample.jpg" width="100%" />
                                  <br />
                                  <br />
                                  <button class="button-choose-theme">Choose</button>
                                </div>
                                <!-- col-md-3 -->
                                <div class="col-md-3">
                                  <h4 class="templates-title">Templates 4</h4>
                                  <img src="modules/core/client/images/sample.jpg" width="100%" />
                                  <br />
                                  <br />
                                  <button class="button-choose-theme">Choose</button>
                                </div>
                                <!-- col-md-3 -->
                              </div>
                              <!-- col-md-12 -->
                              <div class="col-md-12">
                                <h4 class="theme-group-title">Group 2</h4>
                                <hr class="templates-divider">
                                </div>
                                <div class="col-md-12" style="padding-bottom:70px;">
                                  <div class="col-md-3">
                                    <h4 class="templates-title">Templates 1</h4>
                                    <img src="modules/core/client/images/sample.jpg" width="100%" />
                                    <br />
                                    <br />
                                    <button class="button-choose-theme">Choose</button>
                                  </div>
                                  <!-- col-md-3 -->
                                  <div class="col-md-3">
                                    <h4 class="templates-title">Templates 2</h4>
                                    <img src="modules/core/client/images/sample.jpg" width="100%" />
                                    <br />
                                    <br />
                                    <button class="button-choose-theme">Choose</button>
                                  </div>
                                  <!-- col-md-3 -->
                                  <div class="col-md-3">
                                    <h4 class="templates-title">Templates 3</h4>
                                    <img src="modules/core/client/images/sample.jpg" width="100%" />
                                    <br />
                                    <br />
                                    <button class="button-choose-theme">Choose</button>
                                  </div>
                                  <!-- col-md-3 -->
                                  <div class="col-md-3">
                                    <h4 class="templates-title">Templates 4</h4>
                                    <img src="modules/core/client/images/sample.jpg" width="100%" />
                                    <br />
                                    <br />
                                    <button class="button-choose-theme">Choose</button>
                                  </div>
                                  <!-- col-md-3 -->
                                </div>
                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                  <h4 class="theme-group-title">Saved Theme / Templates</h4>
                                  <hr class="templates-divider">
                                  </div>
                                  <div class="col-md-12" style="padding-bottom:70px;">
                                    <div class="col-md-3">
                                      <h4 class="templates-title">Templates 1</h4>
                                      <img src="modules/core/client/images/sample.jpg" width="100%" />
                                      <br />
                                      <br />
                                      <button class="button-choose-theme">Choose</button>
                                    </div>
                                    <!-- col-md-3 -->
                                    <div class="col-md-3">
                                      <h4 class="templates-title">Templates 2</h4>
                                      <img src="modules/core/client/images/sample.jpg" width="100%" />
                                      <br />
                                      <br />
                                      <button class="button-choose-theme">Choose</button>
                                    </div>
                                    <!-- col-md-3 -->
                                    <div class="col-md-3">
                                      <h4 class="templates-title">Templates 3</h4>
                                      <img src="modules/core/client/images/sample.jpg" width="100%" />
                                      <br />
                                      <br />
                                      <button class="button-choose-theme">Choose</button>
                                    </div>
                                    <!-- col-md-3 -->
                                    <div class="col-md-3">
                                      <h4 class="templates-title">Templates 4</h4>
                                      <img src="modules/core/client/images/sample.jpg" width="100%" />
                                      <br />
                                      <br />
                                      <button class="button-choose-theme">Choose</button>
                                    </div>
                                    <!-- col-md-3 -->
                                  </div>
                                  <!-- col-md-12 -->
                                </div>
                                <!-- row -->
                              </div>
                              <!-- modal-body -->
                            </div>
                          </div>
                        </div>
                        <!-- Setup Pages Flow End -->
                      </section>
