
.navbar{

font-family: 'GothamRounded-Medium';
font-weight:normal;


}
h4{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
color:white;
padding-top: 10px;
padding-bottom: 10px;
}


body{
/*
background:#353535;*/
background:#35383d;

}

.bg{

background:white;
margin-top:0px;
border-left:1px solid #d3e0e9;
border-right:1px solid #d3e0e9;
border-bottom:1px solid #d3e0e9;
border-top: none;
}

.bar{
/*
background: #2c3e50;
background:#222528;*/
background-color: black;
margin-top: 0px;
border:none;
padding-left: 30px;
padding-top: 10px;
padding-bottom: 7px;
}

.close{

color:white;
opacity: 0.4;
font-size: 30px;
margin-right: 20px;
margin-top: 10px;
}





.bar2{

background: #2c3e50;
margin-top: 30px;
border-left:1px solid #d3e0e9;
border-right:1px solid #d3e0e9;
border-bottom:1px solid #d3e0e9;
border-top:1px solid #d3e0e9;
padding-left: 30px;
padding-top: 10px;
padding-bottom: 7px;
}




.button{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: #FFC107;
color: rgba(0,0,0, 0.5);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid #f39c12;
width:90%;
height: 50px;
font-size: 20px;
margin-top: 6px;
border-radius: 5px;


}


.button-access-editor{
  font-family: 'GothamRounded-Medium';

font-weight:normal;
background: #FFC107;
color: rgba(0,0,0, 0.5);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid #f39c12;
width:100%;
height: 50px;
font-size: 18px;
margin-top: 6px;
line-height: 25px;
border-radius: 5px;
margin-top: -15px;

}


.button-update-funnel{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: #20b96f;
color: rgba(255,255,255, 0.8);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.3);
width:100%;
height: 45px;
font-size: 18px;
margin-top: -3px;
border-radius: 5px;
padding-bottom: 1px;
line-height: 37px;

}


.no-border{
border-left:none !important;
border-right: 1px solid rgba(0,0,0, 0.1) !important;
border-top:none !important;
border-bottom: 1px solid rgba(55,55,55, 0.2) !important;
height: 40px;
}





.button-edit{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
/*
background: #4CAF50;*/
background:#20b96f;
color: rgba(255,255,255, 0.8);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.3);
width:100%;
height: 40px;
font-size: 18px;
margin-top: -1px;
border-radius: 5px;
line-height: 37px;


}


/*
.button-custom-url{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: #FFC107;
color: rgba(0,0,0, 0.5);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid #f39c12;
width:100%;
height: 40px;
font-size: 18px;
margin-top: -1px;
border-radius: 5px;
line-height: 37px;


}
*/





.button-upgrade{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: white;
color: rgba(0,0,0, 0.8);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.3);
width:90%;
height: 40px;
font-size: 18px;
margin-top: -1px;
border-radius: 5px;
line-height: 37px;


}




.button-delete{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: #ddd;
color: rgba(0,0,0, 0.3);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.1);
width:100%;
height: 40px;
font-size: 18px;
margin-top: -1px;
border-radius: 5px;
line-height: 37px;


}


.button-go-back{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: #fff;
color: rgba(0,0,0, 0.4);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.2);
width:150px;
height: 40px;
font-size: 18px;
margin-top: -1px;
border-radius: 5px;
line-height: 37px;


}



.button-go-back-2{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: #fff;
color: rgba(0,0,0, 0.4);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.2);
width:150px;
height: 40px;
font-size: 18px;
margin-top: -1px;
border-radius: 5px;
line-height: 37px;


}








.button-choose{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: #ddd;
color: rgba(0,0,0, 0.5);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.1);
width:230px;
height: 40px;
font-size: 18px;
margin-top: -20px;
border-radius: 5px;
line-height: 37px;


}




.button-publishing2{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: #ddd;
color: rgba(0,0,0, 0.3);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.1);
width:100%;
height: 70px;
font-size: 18px;
margin-top: -1px;
border-radius: 5px;
line-height: 37px;
padding-left: 20px;
padding-top: 10px;
cursor: pointer;

}


.button-publishing{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: #ddd;
color: rgba(0,0,0, 0.3);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.1);
width:100%;
height: 70px;
font-size: 18px;
margin-top: -1px;
border-radius: 5px;
line-height: 37px;
padding-left: 20px;
padding-top: 10px;
cursor: pointer;

}
.button-publishing:hover{

 
background: #20b96f;
color: rgba(255,255,255, 0.6);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.3);


}

.publish-icon{
  font-size: 36px;
  line-height: 50px;
  padding-right: 10px;
}

.media-heading{

  color: rgba(0,0,0, 0.3);
}


.button-publishing-text{


  font-size: 11px !important;
  margin-top: -25px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0, 0.3) !important;
}




.media-object{

font-size:40px;
color:#3F51B5;

}
.padding-col{

  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 8px;
}

.roboto-font{

font-family: 'Roboto', sans-serif;



}


.first-item-list{

padding-top: 40px;
padding-bottom: 40px;

}

.list-group{


  margin-top: 50px;
}




.profile-bg{
background-image: url(images/bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment:;

}


.funnel-steps-nav{


  border-left:none !important;
    border-right:none !important;

    border-color:rgba(255,255,255, 0.2);
border-radius: 0 !important;
font-size: 20px;
  font-family: 'GothamRounded-Medium';
font-weight:normal;

padding-top: 25px;
padding-bottom: 25px;
padding-left: 35px;
background:#2b2e33;
color: rgba(255,255,255, 0.5) !important;
}




.funnel-steps-nav2{


  border:none !important;
border-radius: 0 !important;
font-size: 20px;
  font-family: 'GothamRounded-Medium';
font-weight:normal;

padding-top: 25px;
padding-bottom: 630px;
padding-left: 35px;
background:#2b2e33;
color: rgba(255,255,255, 0.5) !important;
}

.funnel-steps-nav4{


  border:none !important;
border-radius: 0 !important;
font-size: 20px;
  font-family: 'GothamRounded-Medium';
font-weight:normal;

padding-top: 25px;
padding-bottom: 25px;
padding-left: 35px;
background:#2b2e33;
color: rgba(255,255,255, 0.5) !important;
}



.funnel-steps-nav3{


  border:none !important;
border-radius: 0 !important;
font-size: 20px;
  font-family: 'GothamRounded-Medium';
font-weight:normal;

padding-top: 25px;
padding-bottom: 25px;
padding-left: 35px;
background:#2b2e33 !important;
color: rgba(255,255,255, 0.8) !important;
}


.add-thank-you-page{

background-color: white;
border-left:none;
border-top:none;
border-right:none;
border-bottom:2px solid rgba(0,0,0, 0.4);
width: 95%;
padding-top: 11px;
padding-bottom: 11px;
border-radius: 5px;
color:rgba(0,0,0, 0.5);
font-size: 16px;
z-index: 10;
}



.button-set-redirect{
  background-color: white;
border-left:none;
border-top:none;
border-right:none;
border-bottom:2px solid rgba(0,0,0, 0.4);
  width: 95%;
color:rgba(0,0,0, 0.5);
padding-top: 10px;
padding-bottom: 8px;
border-radius: 5px;
  font-family: 'GothamRounded-Medium';
font-weight:normal;
font-size: 18px;
margin-top: 10px;
}




.funnel-steps-active{
  /*
  background: #4DCBA9;*/
  background:#68c0b0;
color: white !important;
}

.funnel-list-group > a.funnel-steps-nav:hover{
background: #68c0b0;
color: white !important;

}


.funnel-list-group > a.funnel-steps-nav:focus{
background: #68c0b0;
color: white !important;
}


.link-input{

background: rgba(255,255,255, 0.2);
color:rgba(255,255,255, 0.7) !important;
font-family: 'Roboto', sans-serif !important;
/*
border:1px solid #feed6f;*/
border:1px solid rgba(255,255,255, 0.1);

}




.link-button{

background:rgba(255,255,255, 0.8);
border:1px solid rgba(255,255,255, 0.8);
outline: 0 !important;

}


.theme-group-title{

color:black;padding-left:20px;
font-size: 30px;
margin-top: -10px;

}

.templates-title{

color:black;
text-align: center;
margin-bottom: -3px;

}


.templates-divider{

margin-top: -7px;

}

.button-choose-theme{
  font-family: 'GothamRounded-Medium';
font-weight:normal;
background: #eee;
color: rgba(0,0,0, 0.4);
border-left: none;
border-right: none;
border-top:none;
border-bottom: 2px solid rgba(0,0,0, 0.2);
width:100%;
height: 45px;
font-size: 18px;
margin-top: -3px;
border-radius: 5px;
padding-bottom: 1px;
line-height: 37px;

}







/*
Step Bar which indicates progress when the user arrives at the step, and 
indicates the end of the progress with a different shape and color.
*/
.bs-wizard {margin-top: 40px;}

.bs-wizard {padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #0099ff; top: 45px; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #40b9fe; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #0099ff;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {}
.bs-wizard > .bs-wizard-step:last-child  > .bs-wizard-dot:last-child {background-color: #eee;left:100%;border-radius:0%}
.bs-wizard > .bs-wizard-step:last-child  > .bs-wizard-dot:last-child:after {opacity: 0;}
/*Definitions only for active status*/
.bs-wizard > .bs-wizard-step.active .bs-wizard-stepnum {font-weight:bold}
/*Definitions for disabled status*/
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #eee;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .bs-wizard-step.disabled .bs-wizard-stepnum {color: #d5d5d5;}
/*Definitions for complete status*/
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.complete:last-child  > .bs-wizard-dot:last-child {background-color: #005A96;}
.bs-wizard > .bs-wizard-step.complete:last-child  > .bs-wizard-dot:last-child:after {opacity: 1;}
.bs-wizard > .bs-wizard-step.complete .bs-wizard-stepnum {color: #005A96;opacity: 0.5;}



